# Auto detect text files and perform LF normalization
* text=auto

# 86-DOS and CP/M text files must use CRLF and have 0x1A EOF markers, we simply mark them as binary
*.a86 binary
*.asm binary
*.com binary
*.doc binary
*.hex binary
*.prn binary
*.z80 binary
